#!/usr/bin/env xdg-open
[Desktop Entry]
Name=WorldsPlayer
Exec=${directory}/launch.sh
Comment=
Terminal=false
Icon=${directory}/icon.png
Type=Application
Hidden=false
NoDisplay=false
